<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app id="dwiki" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>DWiki</display-name>

  <!-- The DWiki context listener. -->
  <listener>
    <listener-class>com.apress.dwrprojects.dwiki.DWikiContextListener</listener-class>
  </listener>

  <!-- The DWR controller servlet. -->
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <!-- Security setup. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?login_bad=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/loginOk.jsp</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dwiki_user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>dwiki_user</role-name>
  </security-role>

  <!-- Session timeout config. -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- Welcome file config. -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
