/* Style for the main DIV. */
.cssMain {
  position         : absolute;
  border           : 2px solid #000000;
  width            : 500px;
  background-color : #ffffff;
}


/* Style for the content container DIV. */
.cssContent {
  background-color : #ffffff;
  width            : 100%;
  height           : 460px;
}


/* Style for the left-hand side content. */
.cssContentLeft {
  width            : 50%;
  height           : 100%;
  float            : left;
  overflow         : scroll;
}


/* Style for the right-hand side content. */
.cssContentRight {
  width            : 50%;
  height           : 100%;
  float            : right;
  overflow         : scroll;
}


/* Style for elements that have padding (overlay contents, etc). */
.cssPadded {
  padding          : 6px;
}


/* Style for the tables that contain overlay contents. */
.cssOverlayTable {
  width            : 100%;
  height           : 100%;
}


/* Style for the background of the hour slider. */
.cssSliderBGHH {
  position         : relative;
  left             : 0px;
  top              : 0px;
  background       : url(../img/horizBgHH.png) no-repeat;
  height           : 26px;
  width            : 160px;
  zindex           : 5
}


/* Style for the background of the minutes slider. */
.cssSliderBGMM {
  position         : relative;
  left             : 0px;
  top              : 0px;
  background       : url(../img/horizBgMM.png) no-repeat;
  height           : 26px;
  width            : 196px;
  zindex           : 5
}


/* Style for the sliders' handles. */
.cssSliderHandle {
  position         : absolute;
  left             : 0px;
  top              : 8px;
  cursor           : default;
  width            : 18px;
  height           : 18px;
}


/* Style for cells of the table containing the fields of the new note form. */
.cssTDNewNote {
  padding          : 2px;
}


/* Style for overlays. */
.cssOverlay {
  border           : 2px solid #000000;
  position         : relative;
  left             : 0px;
  _left            : -2px; /* IE */
  background-color : #f7f7ef;
  width            : 100%;
  height           : 460px;
}


/* Style for the elements where hour and minutes are displayed. */
.cssTimeSpan {
  width            : 30px;
}