/* Style for the fisheye listbar */
.dojoxFisheyeListBar {
  margin           : 0 auto;
  text-align       : center;
}

/* Style for the fisheye container */
.outerbar {
  text-align       : center;
  position         : absolute;
  left             : 0px;
  top              : 0px;
  width            : 100%;
}
