/* Style for the title header (horizontally and vertically centered). */
.cssHomeTitleHeader {
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  margin : auto;
}


/* Style for the sections in the about flyover. */
.cssHomeAboutSection {
  padding-top : 20px;
}


/* Style to space out Home button. */
.cssHomeButton {
  margin-left : 10px!important;
}


/* Style to space out Function button. */
.cssFunctionButton {
  margin-right : 10px!important;
}


/* Style for the NavBar at the bottom. */
.cssNavBar .ui-btn .ui-icon {
  width : 32px!important;
  height : 40px!important;
  margin-left : -15px!important;
  box-shadow : none!important;
  -moz-box-shadow : none!important;
  -webkit-box-shadow : none!important;
}


/* Style for the icons for each item on the NavBar. */
.cssNavAppointmentPage .ui-icon {
  background : url(img/icoAppointment.png) 100% -20% no-repeat;
}
.cssNavContactPage .ui-icon {
  background : url(img/icoContact.png) 100% -20% no-repeat;
}
.cssNavNotePage .ui-icon {
  background : url(img/icoNote.png) 100% -20% no-repeat;
}
.cssNavTaskPage .ui-icon {
  background : url(img/icoTask.png) 100% -20% no-repeat;
}


/* Style for the function menus. */
.cssFunctionsMenu {
  min-width : 200px;
}


/* Style for the button in the info dialog. */
.cssInfoDialogButtons {
  margin : 0 auto;
  text-align : center;
}


/* Styles for scrim seen when calling the server. */
.ui-loader-background {
  width : 100%;
  height : 100%;
  left : 0px;
  top : 0px;
  margin : 0px;
  background : rgba(0, 0, 0, 0.3);
  display : none;
  position : fixed;
  z-index : 100;
}
.ui-loading .ui-loader-background {
  display : block;
}


/* Style for required fields on forms. */
.cssRequired {
  color : #ff0000;
}
